<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.EmployeeMapper">
    <resultMap id="EmployeeMap" type="Employee">
        <id property="empId" column="emp_id"/>
        <result property="empName" column="emp_name"/>
        <result property="gender" column="gender"/>
        <result property="email" column="email"/>
    </resultMap>

    <select id="getEmployeeById" resultMap="EmployeeMap">
        select * from emp where emp_id=#{id}
    </select>
</mapper>